:root {

  /* Colors */

  --Brand-Blue: #115D8C;
  --Brand-Orange: #F25D27;

  --Text-Title: #123952;
  --Text: #617480;
  --Text-Complement: #A0ACB2;

  --Shape-White: #FFF;
  --Shape-White-Low: #DCE2E5;

  --Delete: #DE3838;
  --Green: #51B853;
  --Green-Low: #DCF5DD;
  --Blue-Low: #DDE9F0;
  --Orange-Low: #FFA585;
  --Yellow: #EFB866;

  --Background: #F5F8FA;

}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}